---
import { sanityClient } from 'sanity:client';
import BaseLayout from '../../layouts/BaseLayout.astro';

const query = `*[_type == "event" && status == "approved"]`;
const events: any[] = await sanityClient.fetch(query);
---

<BaseLayout title="Events">
  <div class="container">
    <h1>Events</h1>
    <ul>
      {events.map((event: any) => (
        <li>
          <a href={`/events/${event.slug.current}`}>{event.title}</a>
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>
